<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Login</title>
</head>
<body>
    
    <div class="login-form">
        <h1>Login</h1>
        <form action="/auth" method="post">
            <input type="text" name="user" id="user"  placeholder="user">
            <input type="password" name="pass" id="pass"  placeholder="password">
            <input type="submit" value="Login" class="btn-login">           
        </form>
        <a href="register" class="btn-register">Register</a>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != 'undefined'){ %>
    <script>
      Swal.fire({
        icon: '<%= alertIcon %>',
        title: '<%= alertTittle %>',
        text: '<%= alertMessage %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(() => {
        window.location='/<%= ruta %>'
      });
                
      
    </script>
    <% } %> 
</body>

</html>