<% include ../layouts/cabecera.ejs %> 
        <br>
        <a href="/libros/crear" class="btn btn-primary mb-3" type="button">Crear un nuevo libro</a>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
    
                <% libros.forEach(libro => { %>
                    <tr>
                        <td><%= libro.id  %></td>
                        <td><%= libro.nombre  %> </td>
                        <td><img class="img-thumbnail" width="100" src="/images/<%= libro.imagen %> " alt=""></td>
                        <td>
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="get" action="/libros/editar/<%= libro.id  %>">
                                    <button class="btn btn-warning" type="submit">Editar</button>
                                </form>
                            </div>

                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/libros/eliminar/<%= libro.id  %>">
                                    <button class="btn btn-danger" type="submit">Borrar</button>
                                </form>
                            </div>
                         </td>
                    </tr>
                <% }) %>
                
                
            </tbody>
        </table>
        <% include ../layouts/pie.ejs %> 